ul.resp-tabs-list, p {margin: 0px;  padding: 0px;}
.resp-tabs-list li {font-weight: 600;font-size: 13px;display: inline-block;padding: 13px 15px;margin: 0;list-style: none;cursor: pointer;float: left;}
.resp-tabs-container { padding: 0px;  background-color: #fff;  clear: left;}
h2.resp-accordion {  cursor: pointer;  padding: 5px;  display: none;}
.resp-tab-content {   display: none;   padding: 15px;}
.resp-tab-active { border: 1px solid #c1c1c1;border-bottom: none;  margin-bottom: -1px !important; padding: 12px 14px 14px 14px !important;}
.resp-tab-active {  border-bottom: none;  background-color: #fff;}
.resp-content-active, .resp-accordion-active { display: block;}
.resp-tab-content {border: 1px solid #c1c1c1;}
h2.resp-accordion {font-size: 13px; border: 1px solid #c1c1c1; border-top: 0px solid #c1c1c1; margin: 0px;padding: 10px 15px;}
h2.resp-tab-active {border-bottom: 0px solid #c1c1c1 !important;margin-bottom: 0px !important;padding: 10px 15px !important;}
h2.resp-tab-title:last-child {border-bottom: 12px solid #c1c1c1 !important;background: blue;}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {float: left;width: 30%;}
.resp-vtabs .resp-tabs-list li {display: block;padding: 15px 15px !important;margin: 0;cursor: pointer;float: none;}
.resp-vtabs .resp-tabs-container {padding: 0px;background-color: #fff;border: 1px solid #c1c1c1;float: left;width: 68%;min-height: 250px;border-radius: 4px; clear: none;}
.resp-vtabs .resp-tab-content { border: none;}
.resp-vtabs li.resp-tab-active {border: 1px solid #c1c1c1; border-right: none;background-color: #fff; position: relative; z-index: 1; margin-right: -1px !important;padding: 14px 15px 15px 14px !important;}
.resp-arrow {width: 0;height: 0;float: right; margin-top: 3px; border-left: 6px solid transparent; border-right: 6px solid transparent;border-top: 12px solid #c1c1c1;}
h2.resp-tab-active span.resp-arrow { border: none;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 12px solid #9B9797;}
.bodhtreeblockss{ float:right;}

/*-----------Accordion styles-----------*/
h2.resp-tab-active { background: #DBDBDB !important;}
.resp-easy-accordion  h2.resp-accordion {display: block;}
.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1;}
.resp-easy-accordion .resp-tab-content:last-child {border-bottom: 1px solid #c1c1c1 !important;}
.resp-jfit {width: 100%; margin: 0px;}
.resp-tab-content-active {display: block;}
h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important;}
.tabprojects_view .resp-tab-active {border: 0px solid #c1c1c1;}
.project_viewpages{ background:#f6f6f6;}
.titletabess h3 {    margin:20px 0 15px;padding: 10px 0;color:#313131;border-bottom: #d6d6d6 solid 2px; position:relative;}
.titletabess h3:before{content:"";background:#313131;width: 58px;height: 2px;position: absolute;bottom: -2px;}
.tabprojects_view a.partanerpagebtn{margin-bottom: 15px;}
.tabprojects_view a.partanerpagebtn .partners_page {padding: 3px;border-radius: 0px; box-shadow: 0 2px 17px 2px rgba(222, 223, 241, 0);border: rgb(222, 223, 241) solid 1px;}
.tabprojects_view a.partanerpagebtn:hover .partners_page{box-shadow: 0 2px 17px 2px rgb(222, 223, 241);border: rgba(222, 223, 241, 0) solid 1px;}
.tabprojects_view .partners_page .titles_blockss{text-align:center;color: #000000;}
.gallery_togglteb, .video_togglteb {display: none;}
.gallery_togglebtn, .video_togglebtn {margin: 0;padding: 0;text-align: right;padding-right: 15px;font-weight: 600;color: #944a27;font-size: 12px;    cursor: pointer; clear:both;}
.tabprojects_view .resp-tab-active, .tabprojects_view .resp-tabs-list li:hover {/*background-color:#ff5558;*/color: #fff;background: linear-gradient(#f83848, #fc59a8);}
.tabprojects_view .resp-tabs-list li{position:relative;}
.tabprojects_view .resp-tab-active:before, .tabprojects_view .resp-tabs-list li:hover:before{content:""; width: 0;height: 0;     border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #fb57a4;position: absolute;bottom: -10px;left: 50%;margin-left: -13px;}
div#imagesgallerytabs .resp-tabs-container{margin-bottom: 30px;}
.resp-tab-content {border: 1px solid rgb(239, 239, 239);}
h2.resp-tab-active {/*background:#ff5558 !important;*/background: linear-gradient(#f83848, #fc59a8) !important;}  
h2.resp-tab-active span.resp-arrow {border: none;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 12px solid #fff;}
.resp-arrow {width: 0;height: 0;float: right;margin-top: 3px;border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 12px solid #f83a4f;}





/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
	.tabprojects_view .resp-tab-active:before, .tabprojects_view .resp-tabs-list li:hover:before{ content:none;}
    ul.resp-tabs-list {display: none;}
    h2.resp-accordion {display: block;}
    .resp-vtabs .resp-tab-content {border: 1px solid #C1C1C1;}
    .resp-vtabs .resp-tabs-container {border: none;float: none;width: 100%;min-height: initial;clear: none;}
    .resp-accordion-closed {display:none !important;}
    .resp-vtabs .resp-tab-content:last-child {border-bottom: 1px solid #f83c54 !important;}
	.resp-tab-content {    border: 1px solid #ff5558;}
}
